/* ********************* Light Mode ***************** */
.btnLight {
  padding: 11px 14px;
  outline: none;
  border: none;
  background-color: #009;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 5px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.32);
}
.btnLight:hover {
  background-color: #007;
}
/* ********************* dark  Mode ***************** */
.btnDark {
  padding: 11px 14px;
  outline: none;
  border: none;
  background-color: #009;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 5px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.32);
}
.btnDark:hover {
  background-color: #007;
}
/* ********************** Media Query *************** */
@media only screen and (max-width: 640px) {
  .addTodoBtnLight,
  .addTodoBtnDark {
    display: none;
  }
}